<!-- 出現ダンジョンを取得する (ポケモンIDを指定) -->
<!-- dict "id" {ポケモンID} "mode" {s(空), t(時), d(闇)} -->

{{ $dungeon_json := resources.Get "data/dungeon.json" | transform.Unmarshal }}
{{ $floor_json := resources.Get "data/floor.json" | transform.Unmarshal }}

{{ $pokemonId := int .id }}
{{ $pokemon := partial "methods/GetPokemonById" $pokemonId }}
{{ $mode := "s" }}
{{ with .mode }}
  {{ if or (eq . "t") (or (eq . "d") (eq . "s")) }}
    {{ $mode = . }}
  {{ end }}
{{ end }}


<!-- モードで時・闇・空を切替 -->
{{ $mappa := false }}
{{ if or (eq $mode "t") (eq $mode "time") }}
  {{ $mappa = resources.Get "data/mappa_t.json" | transform.Unmarshal }}
{{ else if or (eq $mode "d") (eq $mode "darkness") }}
  {{ $mappa = resources.Get "data/mappa_d.json" | transform.Unmarshal }}
{{ else }}
  {{ $mappa = resources.Get "data/mappa_s.json" | transform.Unmarshal }}
{{ end }}


<!-- ダンジョンデータ ※さいごのま 0xBF(191) まで -->
{{ $dungeons := first 192 $dungeon_json }}
{{ $result := slice }}
{{ if and (gt $pokemonId 0) (ne $pokemonId 553) }}
  {{ range $dungeon := $dungeons }}
    <!-- フロアデータ ※0Fは除外, 開始フロア～終了フロアの範囲で取る -->
    {{ $floorsData := index $floor_json (int $dungeon.MappaIndex) }}
    {{ $floorStart := add (int $dungeon.FloorPrev) 1 }}
    {{ $floorEnd := add (int $dungeon.FloorPrev) (int $dungeon.FloorCount) }}
    {{ $floorsAfter := after $floorStart $floorsData }}
    {{ $floors := first (int $dungeon.FloorCount) $floorsAfter }}
    <!-- 敵データ -->
    {{ $enemyFloors := slice }}
    {{ range $index, $floor := $floors }}
      <!-- カクレオン かつ 商店率0% または 固定フロア 0x01～ なら除外 -->
      {{ if and (eq (int $pokemon.Id) 383) (or (eq (int $floor.ChanceKecleonShop) 0) (gt (int $floor.FixedFloorId) 0)) }}
        {{ continue }}
      {{ end }}
      <!-- 固定フロア 0x01～0xA9 なら除外 -->
      {{ if and (gt (int $floor.FixedFloorId) 0) (lt (int $floor.FixedFloorId) 170) }}
        {{ continue }}
      {{ end }}


      <!-- 第二性別含む出現フロアを取得 -->
      <!-- フロアの敵 -->
      {{ $enemies := index $mappa.EnemyData (int $floor.IndexGroup.SpawnEnemy) }}
      {{ with $enemies }}
        {{ $enemy := where $enemies "PokemonId" $pokemon.Id }}
        <!-- 出現するフロアであれば整形して取得 -->
        {{ with $enemy }}
          {{ $enemyFirst := index . 0 }}
          {{ $enemyData := dict "floor" (add $index 1) "lv" $enemyFirst.Level "tileset" $floor.TileSet "enemyIq" $floor.EnemyIQ }}
          {{ $enemyFloors = $enemyFloors | append $enemyData }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ with $enemyFloors }}
      {{ $result = $result | append (dict "dungeon" $dungeon "floors" $enemyFloors) }}
    {{ end }}
  {{ end }}
{{ end }}


<!--
  id: ダンジョンid
  name: ダンジョン名
  dungeon: ダンジョンデータ
  floors: フロアデータ
-->
{{ return $result }}
