/* 無効ポケモン, 無効道具 */
option[data-gender="0"],
option[data-valid="false"],
li:has(span.invalid) {
  background-color: #ccc;
}

/* 禁止ポケモン */
option[data-banned="true"],
li:has(span.banned) {
  background-color: #ffc0cb;
}

/* 例外許可ポケモン */
option.allow[data-banned="true"],
li:has(span.allow) {
  background-color: #bfdfff !important;
}

#advanced-alert {
  border-color: rebeccapurple;
  background: rebeccapurple;
  color: white;
}

#mission-rawdata {
  height: 300px;
}

#mission-rawdata-collapse {
  text-decoration: none;
  i {
    display: inline-block;
    margin-left: 2px;
    transition-duration: 0.3s;
  }
  &[aria-expanded="true"] i {
    transform: rotate(180deg);
  }
  &[aria-expanded="false"] i {
    transform: rotate(0deg);
  }
}
